<!DOCTYPE html>
<html>
<script type="text/javascript" src="/rgbcolor.js"></script> 
<script type="text/javascript" src="/StackBlur.js"></script>
<script type="text/javascript" src="/canvg.js"></script>
<script type="text/javascript" src="/math.js"></script>
<script type="text/javascript" src="/bezier.js"></script>
<script type="text/javascript" src="/svg_curve_lib.js"></script>
<script type="text/javascript" src="/SVGPathData.js"></script>
<script type="text/javascript" src="/materials_data.js"></script>
<script type="text/javascript" src="/bundle.js"></script>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="/jquery.svg.css"> 
<script type="text/javascript" src="/jquery.svg.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <% include templates/header.ejs %>

  <div class="container">
    <div class="page-header">
      <h2><%= title %></h2>
    </div>
    <div class="jumbotron">
      <p id="pathLength"></p>
      <p id="jogLengthX"></p>
      <p id="jogLengthY"></p>
      <p id="time"></p>
      <p id="cost"></p>
      <img id="visualization">
      <canvas id="canvas" width="600px" height="600px"></canvas>
    </div>
  </div>

  <script type="text/javascript">
    window.onload = function (){
      var bundledData = <%-JSON.stringify(packagedData)%>;
      var result = LC.getVectorCost("<%= material %>", bundledData, "<%= membership %>");
      updateInfo(result);
      canvg('canvas', '<%= filename %>');
      var canvas = $("#canvas")[0];
      var ctx = canvas.getContext("2d");
      ctx.setLineDash([5, 15]);
      var jogCoords = result.jogCoords;
      for (var i = 0; i < jogCoords[0].length; i++){
        ctx.beginPath();
        ctx.moveTo(jogCoords[0][i], jogCoords[1][i]);
        ctx.lineTo(jogCoords[2][i], jogCoords[3][i]);
        ctx.strokeStyle="#FF0000";
        ctx.stroke();
      }
      var img = $("#visualization")[0];
      img.src = canvas.toDataURL();
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      canvas.style.display="none";
    }

    var updateInfo = function(data){
      $("#pathLength").text('Total path length: ' + data.pathLength.toFixed(2) + ' inches');
      $("#jogLengthX").text('Total jog length in X axis: ' + data.jogLengthX.toFixed(2) + ' inches');
      $("#jogLengthY").text('Total jog length in Y axis: ' + data.jogLengthY.toFixed(2) + ' inches');
      $("#time").text('Total time: ' + data.time.toFixed(2) + ' minutes');
      $("#cost").text('Cost: $' + data.money.toFixed(2));
    }

  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>