<!DOCTYPE html>
<html>
<script type="text/javascript" src="/rgbcolor.js"></script> 
<script type="text/javascript" src="/StackBlur.js"></script>
<script type="text/javascript" src="/canvg.js"></script> 
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="/raster_calculator.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <% include templates/header.ejs %>
  <div class="container">
    <div class="page-header">
      <h2><%= title %></h2>
    </div>
    <div class="jumbotron">
      <p>Membership: <%= membership %></p>
      <p id="verticalDistance"></p>
      <p id="rasterLength"></p>
      <p id="time"></p>
      <p id="cost"></p>
      <canvas id="canvas"></canvas> 
    </div>
  </div>
  <script type="text/javascript">
    window.onload = function() {
      var imageFileName = "<%= filename %>";
      var resolution = <%= resolution %>;
      var speed = <%= speed %>;
      var rate = <%= rate %>;
      var image = new Image();
      image.src = imageFileName;
      image.addEventListener("load", function() {
        var data = ML.drawCanvas(image);
        ML.countRasterLength(data.r_length, data.v_distance, resolution, speed, rate);
      }, false);
    }; 
  </script>
</body>
</html>