<!DOCTYPE html>
<html>
<script type="text/javascript" src="/rgbcolor.js"></script> 
<script type="text/javascript" src="/StackBlur.js"></script>
<script type="text/javascript" src="/canvg.js"></script> 
<script type="text/javascript" src="/raster_calculator.js"></script>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <% include templates/header.ejs %>

  <div class="container">
    <div class="page-header">
      <h2><%= title %></h2>
    </div>
    <div class="jumbotron">
      <p>Membership: <%= membership %></p>
      <p>Naive total time: <%= naiveTime %> minutes</p>
      <p>Naive total cost: $<%= naiveCost %></p>
      <p id="rasterLength"></p>
      <p id="time"></p>
      <p id="cost"></p>
      <img id="visualization">
      <canvas id="canvas"></canvas> 
    </div>
    
    <script type="text/javascript">
      window.onload = function() {
        var canvas = $("#canvas")[0];
        var imageFileName = "<%= filename %>";
        var resolution = <%= resolution %>;
        var speed = <%= speed %>;
        var rate = <%= rate %>;
        canvg('canvas', imageFileName, { renderCallback: function () {
          var ctx = canvas.getContext('2d');
          var data = ML.drawRasterImage(canvas, ctx);
          ML.countRasterLength(data.r_length, data.v_distance, resolution, speed, rate);
          var img = $("#visualization")[0];
          img.src = canvas.toDataURL();
          ctx.clearRect(0, 0, canvas.width, canvas.height);
          canvas.style.display="none";
        }});   
}
</script>
</body>
</html>
